In [20]:
import pandas as pd
import numpy as np

In [54]:
df = pd.DataFrame({'A': range(1,11), 'B':np.random.randn(10)})
df

    A         B
0   1  0.294130
1   2 -1.741562
2   3  0.129655
3   4 -0.602031
4   5 -1.181661
5   6 -0.515747
6   7 -0.599644
7   8 -1.471418
8   9 -0.786929
9  10  1.296835

In [36]:
df.assign?

In [55]:
df.assign(ln_A = lambda x: np.log(x.A))

    A         B      ln_A
0   1  0.294130  0.000000
1   2 -1.741562  0.693147
2   3  0.129655  1.098612
3   4 -0.602031  1.386294
4   5 -1.181661  1.609438
5   6 -0.515747  1.791759
6   7 -0.599644  1.945910
7   8 -1.471418  2.079442
8   9 -0.786929  2.197225
9  10  1.296835  2.302585

In [67]:
df.ln_A = np.log(df.A)
df['ln_A'] = np.log(df.A)
df

    A         B      ln_A
0   1  0.294130  0.000000
1   2 -1.741562  0.693147
2   3  0.129655  1.098612
3   4 -0.602031  1.386294
4   5 -1.181661  1.609438
5   6 -0.515747  1.791759
6   7 -0.599644  1.945910
7   8 -1.471418  2.079442
8   9 -0.786929  2.197225
9  10  1.296835  2.302585

In [68]:
pd.qcut?

In [70]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"])

['good', 'good', 'medium', 'bad', 'bad']
Categories (3, object): ['good' < 'medium' < 'bad']

In [71]:
pd.qcut(df.A,2, labels=["good", "bad"])

0    good
1    good
2    good
3    good
4    good
5     bad
6     bad
7     bad
8     bad
9     bad
Name: A, dtype: category
Categories (2, object): ['good' < 'bad']

In [84]:
df

    A         B      ln_A
0   1  0.294130  0.000000
1   2 -1.741562  0.693147
2   3  0.129655  1.098612
3   4 -0.602031  1.386294
4   5 -1.181661  1.609438
5   6 -0.515747  1.791759
6   7 -0.599644  1.945910
7   8 -1.471418  2.079442
8   9 -0.786929  2.197225
9  10  1.296835  2.302585

In [73]:
df.max(axis=0)

A       10.000000
B        1.296835
ln_A     2.302585
dtype: float64

In [74]:
df.min(axis=1)

0    0.000000
1   -1.741562
2    0.129655
3   -0.602031
4   -1.181661
5   -0.515747
6   -0.599644
7   -1.471418
8   -0.786929
9    1.296835
dtype: float64

In [81]:
df["B"].clip(lower=2, upper=8)

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
5    2.0
6    2.0
7    2.0
8    2.0
9    2.0
Name: B, dtype: float64

In [87]:
df["B"].abs()

0    0.294130
1    1.741562
2    0.129655
3    0.602031
4    1.181661
5    0.515747
6    0.599644
7    1.471418
8    0.786929
9    1.296835
Name: B, dtype: float64